*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }
body {
    background-image: url('background.png');
    background-size: 100%;
    background-repeat: repeat;
}
/* the main card container */

.card{
  width: 755px;
  height: 370px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:#FFE265;
  border-radius: 30px;
}

h1{
  margin-bottom: 0px;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 45px;
  position: relative; top: 40px;
  position: relative; left: 50px;
  color: #7A5C41;
  
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  text-align: left;
  position: relative; 
  top: 40px;
  position: relative; left: 52px;
  color: #7A5C41;
} 

h3{
  margin-top: 15px;
  padding-top: 10px;
  font-family: "Ropa Sans", sans-serif;
  text-align: left;
  position: relative; 
  font-size: 20px;
  top: 100px;
  position: relative; left: 52px;
  color: #7A5C41;
}
/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: #7A5C41;
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: #7A5C41;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .text-wrapper { grid-area: 1 / 1 / 2 / 2; }
  .monkey-graphic { grid-area: 1 / 2 / 2 / 3; }
svg{
  transform:scale(.9);
}
/* specific styling to scale elements down for mobile */ 
@media only screen and (max-width: 700px) {
  .card{
    width: 390px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  h1{
    top: 22px;
    font-size: 37px;
  }
  
  h2{
    font-size: 23px;
    top: 20px;
  } 
  
  h3{
    font-size:17px;
    top:2px;
  }
  }

  /* svg styling */
  .st0{fill:none;stroke:#96775B;stroke-width:10;}
	.st1{fill:#96775B;}
	.st2{fill:#D0BAA5;}
	.st3{fill:none;stroke:#4E3B24;stroke-width:5;}
	.st4{fill:#4E3B24;}
	.st5{fill:#FFEBA4;stroke:#4E3B24;stroke-width:5;}
	.st6{fill:#FFEBA4;stroke:#4E3B24;stroke-width:5;stroke-miterlimit:4;}